@import "tailwindcss";

@theme {
  --color-surface: #131313;
  --color-surface-dim: #0a0a0a;
  --color-surface-bright: #3a3939;
  --color-on-surface: #e5e2e1;
  --color-primary: #ffffff;
  --color-on-primary: #131313;
  --color-outline: #8e9192;
  --color-error: #ffb4ab;
  --color-on-error: #690005;

  --font-anton: 'Anton', sans-serif;
  --font-hanken: 'Hanken Grotesk', sans-serif;
}

body {
  @apply bg-surface text-on-surface font-hanken antialiased selection:bg-primary selection:text-on-primary;
}
